NEXT_PUBLIC_SUPABASE_URL=https://npcmwbkxxdcqazjtjcyj.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=ysb_publishable_6dDW3N6jrZtncmQUrxowQg_HBShS3MP
SUPABASE_SERVICE_ROLE_KEY=TU_CLAVE_SERVICE_ROLE_SOLO_SERVIDOR
NEXT_PUBLIC_USE_DEMO_DATA=false
